results-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  opacity: 0;
  display: none;

  &::part(popup) {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    overflow: hidden;
  }

  &::part(popup-list) {
  }

  &::part(popup-item) {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    padding-top: 10px;
    border-bottom: 1px solid black;
  }
}
