results-popup {
  position: absolute;
  color: #fff;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  top: -400%;
  opacity: 0;

  &::part(popup) {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    overflow: scroll;
  }

  &::part(popup-item) {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    padding-top: 10px;
    border-bottom: 1px solid #ff6e40;
  }
}
