 //body,
 //html {
 //    transition: all 2s;
 //}

.gem-puzzle {
  max-width: 400px;
  height: 400px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  user-select: none;
}

.puzzle-game__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.puzzle-game {
  display: grid;
  //grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  background: #e5d6f6;
  margin-bottom: 1.2em;
}

.puzzle-game__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 -1px -1px 0;
  padding: 0;
  background: plum;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  //transition: transform 0.3s;
  border: 1px solid purple;
  //transition: 0.5s background ease;

  &.is-empty {
    color: transparent;
    background-color: transparent;
    cursor: default;
  }
}

.reset-btn {
  color: white;
  background: black;
  font: 1.2rem/1.2 Georgia serif;
  border: 2px solid purple;
  padding: 0.5em 1.5em;
  cursor: pointer;
  &:hover {
    background: purple;
  }
}
